@charset "UTF-8";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
html {
  max-width: 100vw !important;
}

body {
  overflow-x: hidden;
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit !important;
}

p {
  line-height: 1.5;
  margin-bottom: 0 !important;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Inter", "微軟正黑體", "SF Pro TC", "SF Pro Text", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #222222;
  overflow-x: hidden;
  text-align: justify;
}

.main-img {
  background-image: url(../img/main_img.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1;
  width: 100vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.main-img .slogan {
  color: #FFFFFF;
  padding-top: 10rem;
  padding-bottom: 8rem;
  text-align: right;
}
@media (max-width: 993px) {
  .main-img .slogan {
    text-align: center;
  }
}
.main-img .slogan img {
  width: 20vw;
}
@media (max-width: 993px) {
  .main-img .slogan img {
    width: 60vw;
    margin-top: 3rem;
  }
}
@media (max-width: 720px) {
  .main-img .slogan img {
    width: 80vw;
    margin-top: 3rem;
  }
}
.main-img .slogan-title {
  font-size: 210%;
  font-weight: bold;
  margin-top: 2rem;
}
@media (max-width: 720px) {
  .main-img .slogan-title {
    font-size: 160%;
    margin-top: 1rem;
  }
}
.main-img .slogan-subtitle {
  font-size: 150%;
  line-height: 1;
  padding: 0.5rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
}
@media (max-width: 720px) {
  .main-img .slogan-subtitle {
    font-size: 120%;
  }
}

.sectoin-title {
  text-align: center;
  margin-bottom: 2rem;
}
.sectoin-title .title {
  color: #005597;
  font-size: 150%;
  font-weight: bold;
}
.sectoin-title .subtitle {
  color: #72A830;
  font-size: 110%;
  letter-spacing: 0.5rem;
}
@media (max-width: 993px) {
  .sectoin-title .subtitle {
    letter-spacing: 0.3rem;
  }
}

.about {
  z-index: 99;
  background-color: rgba(219, 234, 201, 0.8);
  padding: 2rem;
}

.solution {
  background-color: #F3F5F7;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  word-wrap: break-word;
}
.solution-list {
  margin: auto;
}
.solution-list p {
  text-indent: -1.5rem;
  padding-left: 3rem;
}
@media (max-width: 720px) {
  .solution-list p {
    text-indent: -1.5rem;
    padding-bottom: 1rem;
  }
}
.solution-list span {
  font-size: 110%;
  color: #72A830;
  letter-spacing: 0.1rem;
  width: 1rem;
  display: inline-block;
  font-weight: 300;
}
.solution .img-solution {
  width: 100%;
  height: 100%;
}

.aiot .img-aiot {
  width: 80%;
  margin: auto;
}
@media (max-width: 993px) {
  .aiot .img-aiot {
    width: 100%;
  }
}
.aiot .platform-item {
  margin-bottom: 3rem;
  margin-top: 3rem;
}
@media (max-width: 993px) {
  .aiot .platform-item {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
.aiot .platform-item img {
  width: 40%;
}
@media (max-width: 993px) {
  .aiot .platform-item img {
    width: 50%;
  }
}
.aiot .platform-item p {
  margin-top: 1rem;
  font-weight: bold;
}
.aiot .platform-iso {
  background-color: #F3F5F7;
  padding: 2rem;
  border-radius: 1rem;
  color: #00539F;
  font-size: 120%;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 993px) {
  .aiot .platform-iso {
    font-size: 96%;
    text-align: center;
  }
}
.aiot .platform-iso img {
  width: 8rem;
  margin: auto;
  margin-bottom: 2rem;
}
.aiot .platform-iso p {
  line-height: 1.8;
  text-align: left;
}
@media (max-width: 720px) {
  .aiot .platform-iso p {
    text-align: center;
    font-size: 90%;
  }
}

.product {
  background-color: #F3F5F7;
}
.product .prod-item-img {
  background-color: #FFFFFF;
  border-radius: 1rem;
  -webkit-filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.1));
  padding: 1rem;
}
.product .prod-item-img img {
  width: 90%;
}
.product .prod-item-name {
  font-size: 110%;
  padding-top: 2rem;
  font-weight: bold;
}
@media (max-width: 993px) {
  .product .prod-item-name {
    padding-top: 1rem;
  }
}
.product .prod-item-model {
  font-size: 110%;
  color: #222222;
  padding-bottom: 2rem;
  padding-top: 0.5rem;
}

.statement {
  background: rgba(219, 234, 201, 0.8);
  padding: 2rem;
}

.header {
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: #FFFFFF;
  padding: 0.5rem;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: block;
}
.header .logo {
  height: 2rem;
  width: auto;
}
@media (max-width: 993px) {
  .header .logo {
    height: 1.5rem;
  }
}
.header .company-name {
  line-height: 1;
  padding-left: 1.5rem;
}
@media (max-width: 993px) {
  .header .company-name {
    padding-left: 0.5rem;
    font-size: 90%;
  }
}
.header .company-name-ch {
  font-size: 120%;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.header .company-name-en {
  font-size: 80%;
  letter-spacing: 0.05rem;
}

footer {
  background-color: #1D2D35;
  color: #FFFFFF;
  padding: 2rem;
  font-size: 86%;
  line-height: 1.5;
}
footer p {
  padding-bottom: 1rem;
}
footer span {
  padding-right: 1rem;
}
@media (max-width: 720px) {
  footer span {
    display: block;
  }
}
footer a:link {
  color: #72A830 !important;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
}
@media (max-width: 720px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 720px) {
  .index-content .wrapper {
    padding: 0.5rem 0;
  }
}
@media (max-width: 720px) {
  .index-content .content-box {
    margin: auto 2rem !important;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
}
.index-content .content-schedule {
  display: grid;
  grid-gap: 4rem;
}
@media (max-width: 720px) {
  .index-content .content-schedule {
    grid-gap: 0;
  }
}

.about-content .wrapper {
  padding-top: 0;
  padding-bottom: 0;
}
.about-content .wrapper .content-box {
  margin-top: 4rem;
  padding-top: 0;
}
.about-content .wrapper .content-box p {
  -webkit-margin-before: 0 !important;
          margin-block-start: 0 !important;
}
@media (max-width: 720px) {
  .about-content .wrapper .content-box p {
    -webkit-margin-before: 1em !important;
            margin-block-start: 1em !important;
  }
}

.wrapper-page-content {
  display: grid;
  grid-template-columns: 1fr 600px 600px 1fr;
  margin-top: 5rem;
}
@media (max-width: 993px) {
  .wrapper-page-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
@media (max-width: 993px) {
  .wrapper-page-content {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0;
    padding: 0.5rem 2rem;
  }
}

.article-page-content {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1000px) 1fr;
}
@media (max-width: 720px) {
  .article-page-content {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.5rem 2rem;
  }
}

.col2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 720px) {
  .col2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0;
  }
}

.col3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 720px) {
  .col3 {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0;
  }
}

@media (max-width: 720px) {
  .xs-hidden {
    display: none;
  }
}

@media (max-width: 993px) {
  .sm-hidden {
    display: none;
  }
}

@media (min-width: 721px) {
  .md-hidden {
    display: none;
  }
}

.bg-row {
  display: grid;
  grid-template-rows: 10% auto;
}
@media (max-width: 720px) {
  .bg-row {
    display: grid;
    grid-template-rows: auto;
  }
}
@media (max-width: 720px) {
  .bg-row-reorder div:nth-child(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 720px) {
  .bg-row-reorder div:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 720px) {
  .bg-row-index-reroder div:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 720px) {
  .bg-row-index-reroder div:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (max-width: 720px) {
  .bg-row-index-reroder div:nth-child(3) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}
@media (max-width: 720px) {
  .bg-row-index-reroder div:nth-child(4) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 720px) {
  .bg-row-index-reroder div:nth-child(5) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}
@media (max-width: 720px) {
  .bg-row-index-reroder div:nth-child(6) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
}

.header-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}
@media (max-width: 720px) {
  .header-layout {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}

.nav-layout {
  display: grid;
  grid-template-columns: 100px auto 100px;
}
@media (max-width: 720px) {
  .nav-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
}
.nav-layout .dropdown-menu {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
@media (max-width: 720px) {
  .nav-layout .dropdown-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
}

.main-content-layout .pagelinks-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (max-width: 720px) {
  .main-content-layout .pagelinks-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.page-subtitle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-layout {
  display: grid;
  grid-template-columns: 2fr 4fr;
}
@media (max-width: 720px) {
  .footer-layout {
    grid-template-columns: 2fr;
  }
}
@media (max-width: 720px) {
  .footer-layout-info {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-template-columns: 2fr;
  }
}
.footer-layout-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 720px) {
  .footer-layout-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.footer-layout-copyright {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
}
@media (max-width: 720px) {
  .footer-layout-copyright {
    display: grid;
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=main.css.map */